<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas voluptatum iusto fugit facere praesentium architecto, deleniti voluptates enim, et eius, doloribus alias recusandae perferendis fuga saepe ipsa ut magnam accusamus suscipit officiis officia. Vero iusto veniam laudantium fuga suscipit maxime ratione iste perspiciatis exercitationem, distinctio natus, totam corporis eligendi in at repellendus! Eos suscipit sapiente nemo maiores mollitia labore, quis expedita voluptatibus optio aliquid id quam illo sed illum possimus fugit laudantium magni at! Ratione saepe quidem, ea laborum optio aspernatur eum voluptates ipsam eaque delectus nisi nemo ipsum hic temporibus tempora ex veniam sed dolorum iure. Illum, eum similique.</p>
        </section>
    </main>
</body>
</html>